@import "tailwindcss";

@theme {
  --color-barclays-blue: #001489;
  --color-barclays-dark: #000B4D;
  --color-barclays-cyan: #00AEEF;
  --color-barclays-silver: #E5E7EB;
}

body {
  background-color: var(--color-barclays-silver);
  color: #111827;
}